{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
  <!-- https://laportarestaurant.com/about/ -->
  <div class="main-container">
    <div class="wp-block-image"><figure class="alignright size-medium"><img loading="lazy" width="100%" height="100%" src="/static/restaurant-690975_1920-40.jpg" alt="restaurant-inside" class="wp-image-102"/></figure></div>
    <br>
    <p class="quicksand-font">La Porta Aperta features regional Italian cuisine drawing inspiration from all across Italy, with classic theory and <strong>Chef John Doe’</strong> personal finesse. 
    Our menu changes often to provide the freshest seasonal ingredients. We welcome you to enjoy an authentic Italian experience with good friends and good wine.</p>
    <p class="quicksand-font" style="font-size: larger;"><strong>Buon Appetito!</strong></p>
  </div>

{% endblock %}
